.container {
    width: 100%;
    max-width: 1180px;
    padding: 0 10px;
    margin: 32px auto;
}

.container header {
    display: flex;
    align-items: center;
}

.container header img {
    height: 64px;
}

.container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.container h1 {
    margin-top: 40px;
    margin-bottom: 14px;
    color: #4ADE96;
}

.container ul {
    display: block;
    align-items: center;
    list-style: none;
}
.container ul li {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.container ul li button {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 0;
    background: #fff;
}

.container ul li button:hover {
    opacity: 0.7;
}

.container ul li strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

.container ul li p + strong {
    margin-top: 32px;
}

.container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

.card.question {
    display: grid;
    grid-template-areas: "image details liked answer";
    grid-template-columns: 70px 1.15fr 15px 15px;
    padding: 1rem;
}

.question-image {
    grid-area: image;
}
.question-image img {
    max-width: 50px;
}
.question-details {
    grid-area: details;
    color: #616161;
}
.question-total-answers {
    position: absolute;
    bottom: 0;
    right: 65px;
}
.question-liked {
    grid-area: liked;
    position: absolute;
    right: 90px;
    bottom: 10px;
}
.question-answer {
    grid-area: answer;
    position: absolute;
    right: 60px;
    bottom: 10px;
}
.question-text {
    font-size: 18px;
    font-weight: 500;
}
.question-user {
    font-size: 0.9rem;
    font-style: italic;
}

.search {
    width: 40%;
    height: 50px;
    color: #333;
    border: 1px solid #dcdcd6;
    border-radius: 8px;
    padding: 0 24px;
    margin-left: 8px;
}

.not-answered {
    width: 25%;
    height: 50px;
    color: #333;
    border: 1px solid #dcdcd6;
    border-radius: 8px;
    padding: 0 24px; 
    margin-left: 8px;
    margin-right: 8px;
}

.sort-button {
    cursor: "pointer";
    width: 20%;
    height: 50px;
    background: #ffb957;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin: 8px; 
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    transition: filter 0.2s;
}

.sort-button:hover{
    filter: brightness(80%);
}

span {
    margin: 2px;
}